.indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-size: 72px;
    font-weight: bold;
    height: 100vh;
}

.log {
    display: flex;
    height: 100vh;
    overflow: hidden;
}