.layout {
    display: flex;
    flex-direction: column;
}

img {
    position:absolute;
    top: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;

}

.image-cover {
    object-fit: cover;
}

.image-fit {
    object-fit: contain;
}

.meta-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: black;
    opacity: 0.7;
    margin-top: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hidden {
    visibility: false;
    display: none;
}
